<h1>Albums</h1>

<p *ngIf="!albums"><em>Loading albums...</em></p>
<input type="text" id="search" > <button (click)='search(search)' >Search Albums</button>
<table class='table' *ngIf="albums">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let album of albums">
            <td [routerLinkActive]="['link-active']"><a [routerLink]="['/albumdetails', album.albumID]">
                {{ album.title }} </a></td>
            <td>{{album.artist.name}}</td>
            <td>{{album.genre.name}}</td>
        </tr>
    </tbody>
    
</table>
<p [routerLinkActive] ="['link-active']">
    <a [routerLink]="['/addalbum']">Add Album</a>
    </p>


